# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data / outputs
*.csv
*.json

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
